@model IEnumerable<Onlinelibrary.Models.User>

@{
    ViewData["Title"] = "Users";
}

<h1>Users</h1>


<table class="table">
    <thead>
        <tr>
            <th>Username</th>
            <th>Hashed Password</th>
            <th>isAdmin</th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td>@Html.DisplayFor(modelItem => item.PasswordHash)</td>
                <td>@Html.DisplayFor(modelItem => item.isAdmin)</td>
            </tr>
        }
            
    </tbody>
</table>